<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>

  <!-- Hyde/Poole styles via CDN to ensure assets load -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/poole/hyde@master/public/css/poole.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/poole/hyde@master/public/css/syntax.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/poole/hyde@master/public/css/hyde.css">

  {% feed_meta %}
  {% seo %}
</head>
